* {
  margin: 0px;
  scroll-behavior: smooth;
}

/* Chrome, Safari, Opera, Edge */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0px;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}

.greenColor {
  color: green o !important;
}

.redColor {
  color: red !important;
}
